extends extends/base

block content

  #musician

    input(type="checkbox" id="menuchk")
    include includes/header
    include includes/banner
    include includes/discography
    include includes/concert
    include includes/compositions
    include includes/carousel
    include includes/chill_nation
    include includes/events
    include includes/history
    include includes/formulario
    include includes/methodology

    //- include includes/page

    include includes/footer

block bottom
