.musician__carousel
  .musician__container
    .musician__carouselcontent
      .musician__singer
        img.singericon(src="/images/icon-music-carousel-1.png")
        h2.singertitle In 2008, lead singer Dan Reynolds met drummer #[br]Andrew Tolman at Brigham Young University where they were both students
        p.singertext Tolman recruited longtime high school friend Daniel Wayne "Wing" Sermon, who had graduated from Berklee College of Music. Tolman later recruited his wife, Brittany Tolman, to sing backup and play keys.
        p.singertext2 - Early years (2008–10) -
      .musician__singer
        img.singericon(src="/images/icon-music-carousel-2.png")
        h2.singertitle In 2008, lead singer Dan Reynolds met drummer #[br]Andrew Tolman at Brigham Young University where they were both students
        p.singertext Tolman recruited longtime high school friend Daniel Wayne "Wing" Sermon, who had graduated from Berklee College of Music. Tolman later recruited his wife, Brittany Tolman, to sing backup and play keys.
        p.singertext2 - Early years (2008–10) -
      .musician__singer
        img.singericon(src="/images/icon-music-carousel-3.png")
        h2.singertitle In 2008, lead singer Dan Reynolds met drummer #[br]Andrew Tolman at Brigham Young University where they were both students
        p.singertext Tolman recruited longtime high school friend Daniel Wayne "Wing" Sermon, who had graduated from Berklee College of Music. Tolman later recruited his wife, Brittany Tolman, to sing backup and play keys.
        p.singertext2 - Early years (2008–10) -
      .musician__singer
        img.singericon(src="/images/icon-music-carousel-1.png")
        h2.singertitle In 2008, lead singer Dan Reynolds met drummer #[br]Andrew Tolman at Brigham Young University where they were both students
        p.singertext Tolman recruited longtime high school friend Daniel Wayne "Wing" Sermon, who had graduated from Berklee College of Music. Tolman later recruited his wife, Brittany Tolman, to sing backup and play keys.
        p.singertext2 - Early years (2008–10) -

