.musician__compositions
  .musician__titlelatter
    img.titlelatter(src="/images/title-discography_three.png")
    p.textlatter "It's Time" was released as the lead single from Continued Silence and It's Time, both extended plays preceding Night Visions' release.
  .musician__music
    .musician__boxmusic.musician__boxmusic--padding
      p.daysmusic 03.04.2015
      p.namemusic indian sammer
      p.titlemusic Sam Feldt ft. Kimberly Anne - Show Me Love (EDX's Indian Summer Remix)
      p.descriptionmusic "Radioactive" is a song recorded by American rock band Imagine Dragons for their major-label debut EP Continued Silence and later on their debut studio album, Night Visions (2012), as the opening track. "Radioactive" was
      .informationmusic
        a.inforlink(href='#')
          .inforlink__text Visit the iTunes
            img.icononline(src="/images/icon-concert.png")
        .inforlink.inforlink--align
          .visit__box
            img.visiticon(src="/images/icon-music-1.png")
            p.visittext 182,364
          .visit__box
            img.visiticon(src="/images/icon-music-2.png")
            p.visittext 10K
          .visit__box
            img.visiticon(src="/images/icon-music-3.png")
            p.visittext 3K
          .visit__box
            img.visiticon(src="/images/icon-music-4.png")
            p.visittext 96
    .musician__boxmusic
      video(src='video/models-refe.mp4', width="745" poster='https://i.pinimg.com/originals/7c/39/be/7c39be17f871ad87a8f949cf16d711c5.jpg', controls='')

  .musician__music
    .musician__boxmusic
      .musician__boxmusic
      video(src='video/models-refe.mp4', poster='https://i.ytimg.com/vi/ZQrK04y1ZNs/maxresdefault.jpg', controls='')

    .musician__boxmusic.musician__boxmusic--padding2
      p.daysmusic 20.07.2015
      p.namemusic indian sammer Remix
      p.titlemusic Sam Feldt - Show Me Love (EDX's Indian Summer Remix)
      p.descriptionmusic Amsterdam's Sam Feldt earned attention in Europe and then worldwide for his melodic house remixes, mixtapes, and collaborations including 2014's "Bloesem" with De Hofnar and "Hot Skin" with Kav Verhouzer on...
      .informationmusic
        a.inforlink(href='#')
          .inforlink__text Visit the iTunes
            img.icononline(src="/images/icon-concert.png")
        .inforlink.inforlink--align
          .visit__box
            img.visiticon(src="/images/icon-music-1.png")
            p.visittext 182,364
          .visit__box
            img.visiticon(src="/images/icon-music-2.png")
            p.visittext 10K
          .visit__box
            img.visiticon(src="/images/icon-music-3.png")
            p.visittext 3K
          .visit__box
            img.visiticon(src="/images/icon-music-4.png")
            p.visittext 96

  .musician__music
      .musician__boxmusic.musician__boxmusic--padding
        p.daysmusic 03.04.2015
        p.namemusic chill nation
        p.titlemusic James Bay - Let It Go (Bearson Remix)
        p.descriptionmusic A soulful singer/songwriter from a small English town with a penchant for crafting moving and evocative folk-pop confections in the vein of Ed Sheeran, Foy Vance, and Ben Howard, James Bay hails from the North Hertf...
        .informationmusic
          a.inforlink(href='#')
            .inforlink__text Visit the iTunes
              img.icononline(src="/images/icon-concert.png")
          .inforlink.inforlink--align
            .visit__box
              img.visiticon(src="/images/icon-music-1.png")
              p.visittext 182,364
            .visit__box
              img.visiticon(src="/images/icon-music-2.png")
              p.visittext 10K
            .visit__box
              img.visiticon(src="/images/icon-music-3.png")
              p.visittext 3K
            .visit__box
              img.visiticon(src="/images/icon-music-4.png")
              p.visittext 96
      .musician__boxmusic
        video(src='video/models-refe.mp4', poster='https://i.ytimg.com/vi/Hl-SJaLyAL0/maxresdefault.jpg', controls='')
