.musician__concert
  .musician__container
    .musician__titledisco
      img.titleconcert(src="/images/title-discography_two.png")
      p.textconcert Before the release of Night Visions, Imagine Dragons made appearances on American radio and television to promote their extended play, Continued Silence and debut single It's Time. The band performed "It's Time" on the July 16, 2012 airing of NBC late-night talk show The Tonight Show with Jay Leno"
.musician__present
  .musician__container
    .musician__tours
      p.daystours 03.08.2015
      p.nametours Smoke + Mirrors Tour
    .musician__tours.musician__tours--withtours
      p.yeartours 2015–present
      p.informationtours At Lollapalooza in Sao Paulo, Brazil, the last date on the Into the Night Tour, the band announced a rest, and complemented saying, "This is our last show for a while, and had no better place to end this tour".[51] The conclusion of the Into the Night Tour signaled the end of the Night Visions album cycle. Lead singer Dan Reynolds joked about the end of the Night Visions cycle, saying that "We're always writing on the road, [so] that second album will come, unless we die. next year. Hopefully we don't die and there will be a second album. I don't know when it will be, but it may come"
      a.btnlink(href='#')
        .buy__text Buy online
          img.icononline(src="/images/icon-concert.png")
