.musician__events
  .musician__container
    .musician__eventscontent
      img.evenimages(src="/images/title-discography_four.png")
      p.eventstitle
        span.linetext Smoke + Mirr
        |ors Tour
      p.eventstext.eventstext--widthtext 2-2-15 Hokukoryokuchi, Konohana Ward, 554-0042 Osaka Prefecture Osaka
      .line
      p.eventsdate 01.04.2015
      .line2
      p.eventstitle
        span.linetext Smoke + Mirr
        |ors Tour
      p.eventstext When the last-minute request is for a focus group, it’s usually a sign that the request originated in Marketing. When Web sites are being designed, the folks in Marketing often feel like they don’t have much clout. Even though they’re the ones who spend the most time trying to figure out who the site’s audience is and what they want, the designers and developers are the ones with most of the
      .line
      p.eventsdate 01.04.2015
