.musician__form
  .musician__container
    .musician__contactcontent
      img.contactimages(src="/images/title-form_seven.png")
      p.contacttext Canada Island, Division No. 23, Unorganized, MB, Canada
      p.contactphone Tel. +1(778) 288 5180
      .musician__contact
        form.formcontent
          .forminput
            label.name(for='nombre') Name
            input(type='text', name='nombre', required='')

          .forminput
            label(for='nombre') E mail
            input(type='text', name='nombre', required='')

          .forminput
            label(for='nombre') Message
            input(type='text', name='nombre', required='')

          input.contactsend(type='submit', name='btn-submit', value='Send')

      .musician__contact.musician__contact--border
        .musician__contacticon
          img.evenimages(src="/images/icon_facebook.png")

        .musician__contacticon.musician__contacticon--border
          img.evenimages(src="/images/icon_instagram.png")

        .musician__contacticon
          img.evenimages(src="/images/icon_twitter.png")


