header.musician__header
  .musician__container
    nav.musician__header__container

      .musician__header__close
        label.close(for="musiciancheck")
          span
          span
          span

      .musician__header__menu
        ul.menu
          li.menu__option
            a.option.option--active(href="#", target='_blank') ABOUT
          li.menu__option
            a.option(href="#", target='_blank') DISCOGRAPHY
          li.menu__option
            a.option(href="#", target='_blank') CONCERT TOURS
          li.menu__option
            a.option(href="#", target='_blank')  LATTER COMPOSITIONS
          li.menu__option
            a.option(href="#", target='_blank')  NEW TRACKS
          li.menu__option
            a.option(href="#", target='_blank')  UPCOMING EVENTS
          li.menu__option
            a.option(href="#", target='_blank')  HISTORY
          li.menu__option
            a.option(href="#", target='_blank')  CONTACT
