.musician {

  &__compositions {

    padding: 0 0 3rem;
    margin: 0 auto;
    width: 1495px;

    @media only screen and (max-width: 1366px) {

      width: 1200px;
    }

    @media only screen and (max-width: 1366px) {

      width: 920px;
    }

    @media only screen and (max-width: 768px) {

      width: 690px;
    }

    @media only screen and (max-width: 480px) {

      width: 400px;
    }

    @media only screen and (max-width: 360px) {

      width: 300px;
    }
  }

  &__titlelatter {

    text-align: center;
    padding: 8rem 0;

    @media only screen and (max-width: 1024px) {

      padding: 6rem 0;
    }

    .textlatter {

      color: #798285;
      font-size: 14px;
      margin: 0 auto;
      letter-spacing: 2px;
      line-height: 1.5;
      padding: 3rem 0 0;
      text-align: center;
      width: 60%;

      @media only screen and (max-width: 480px) {

        width: 100%
      }
    }
  }

  &__music {

    background: #f5f6f6;
    box-sizing: border-box;
    margin: 0 0 3rem;
  }

  &__boxmusic {

    display: inline-block;
    width: 50%;
    vertical-align: middle;

    @media only screen and (max-width: 1024px) {

      width: 100%;
      display: block;
    }

    &--hidebox {

      @media only screen and (max-width: 1024px) {

        display: none;
      }
    }

    &--hidebox2 {

      display: none;

      @media only screen and (max-width: 1024px) {

        display: block;
      }
    }

    video {

      width: 747px;

      @media only screen and (max-width: 1366px) {

        width: 100%;
      }
    }

    &--padding {

      padding: 2rem;
      position: relative;

      @media only screen and (max-width: 1366px) {

        padding: 1rem 1rem 1rem 2rem;
      }

      @media only screen and (max-width: 1366px) {

        padding: 1rem;
      }

      &:after {

        content: "";
        border-top: 13px solid transparent;
        border-left: 16px solid #f5f6f6;
        border-bottom: 13px solid transparent;
        display: block;
        margin-top: -8px;
        position: absolute;
        right: -16px;
        top: 50%;

        @media only screen and (max-width: 1024px) {

          border-top: 13px solid #f5f6f6;
          border-left: 16px solid transparent;
          border-right: 13px solid transparent;
          margin-top: 0;
          right: 50%;
          top: 100%;
        }
      }
    }



    &--padding2 {

      padding: 2rem;
      background: #f5f6f6;
      position: relative;

      &:after {

        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: -16px;
        margin-top: -8px;
        border-top: 13px solid transparent;
        border-right: 16px solid #f5f6f6;
        border-bottom: 13px solid transparent;

        @media only screen and (max-width: 1024px) {

          border-right: 16px solid #ffffff00;
          border-left: 13px solid #ffffff00;
          border-top: 13px solid #f5f6f6;
          left: 50%;
          margin-top: 0;
          bottom: 0;
          top: 100%;
        }
      }
    }

    .daysmusic {

      border-bottom: 2px solid #000;
      color: #b2b4b4;
      font-size: 14px;
      font-weight: 900;
      padding: 0 0 10px;
      width: 72%;
    }

    .namemusic {

      color: #000;
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
      padding: 10px 0 0;
    }

    .titlemusic {

      font-size: 23px;
      padding: 1rem 0;

      @media only screen and (max-width: 360px) {

        font-size: 18px;
      }
    }

    .descriptionmusic {

      color: #798285;
      font-size: 14px;
      padding: 0 0 2rem;
      line-height: 1.8;
      letter-spacing: 1px;

      @media only screen and (max-width: 480px) {

        text-align: justify;
      }
    }

    .informationmusic {

      .inforlink {

        display: inline-block;
        width: 30%;
        vertical-align: bottom;

        @media only screen and (max-width: 1024px) {

          width: 20%;
        }

        @media only screen and (max-width: 768px) {

          width: 30%;
        }

        @media only screen and (max-width: 480px) {

          display: block;
          margin: 0 auto;
          width: 60%;
        }

        &--align {

          text-align: center;
          width: 70%;

          @media only screen and (max-width: 1024px) {

            text-align: right;
            width: 80%;
          }

          @media only screen and (max-width: 768px) {

            text-align: right;
            width: 70%;
          }

          @media only screen and (max-width: 480px) {

            padding: 1.5rem 0;
            text-align: center;
            width: 100%;
          }
        }

        &__text {

          border: 1px solid #000;
          color: #000;
          font-size: 14px;
          font-weight: 900;
          padding: 14px 0;
          text-align: center;
          // width: 65%;
        }

        .icononline {

          padding: 0 0 0 14px;
        }

        .visiticon {

          display: inline-block;
          vertical-align: middle;
        }

        .visittext {

          color: #abacac;
          display: inline-block;
          font-size: 12px;
          padding: 0 0 0 10px;
          vertical-align: middle;

          @media only screen and (max-width: 360px) {

            padding: 0 0 0 2px;
          }
        }

        .visit {

          &__box {

            display: inline-block;
            padding: 0 0 5px;
            vertical-align: bottom;
            width: 73px;

            @media only screen and (max-width: 360px) {

              width: 60px;
            }
          }
        }
      }
    }
  }
}
