.musician {

  &__titledisco {

    padding: 10rem 0 5rem;
    text-align: center;

    @media only screen and (max-width: 1366px) {

      padding: 6rem 0 0;
    }

    .textconcert {

      color: #798285;
      font-size: 14px;
      margin: 0 auto;
      letter-spacing: 2px;
      line-height: 1.5;
      padding: 2rem 0 3rem;
      text-align: center;
      width: 60%;

      @media only screen and (max-width: 768px) {

        width: 100%;
      }

      @media only screen and (max-width: 480px) {

        padding: 2rem 0 0;
      }
    }
  }

  &__present {

    background-image: url(../images/image-concert.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 21rem 0 10rem;

    @media only screen and (max-width: 1366px) {

      background-size: contain;
      padding: 16rem 0 0;
    }

    @media only screen and (max-width: 1024px) {

      background-position: center;
      background-size: cover;
      padding: 14rem 0 0;
    }

    @media only screen and (max-width: 480px) {

      background-position-x: 40%;
    }

    .daystours {

      border-bottom: 2px solid #000;
      color: #575757;
      font-size: 14px;
      font-weight: 800;
      padding: 0 0 10px;
    }

    .nametours {

      color: #000000;
      font-size: 14px;
      font-weight: 900;
      text-transform: uppercase;
    }

    .yeartours {

      color: #000;
      font-size: 23px;
    }

    .informationtours {

      color: #798285;
      font-size: 14px;
      line-height: 1.5;
      padding: 1rem 0 2rem;

      @media only screen and (max-width: 480px) {

        text-align: justify;
      }
    }
    .buy {

      &__text {

        color: #000;
        font-size: 14px;
        font-weight: 900;
        border: 1px solid #b2b4b4;
        padding: 1rem;
        text-align: center;
        width: 25%;

        @media only screen and (max-width: 1024px) {

          width: 30%;
          background-color: #ffffffad;
        }

        @media only screen and (max-width: 1024px) {

          width: 40%;
        }

        @media only screen and (max-width: 1024px) {

          width: 60%;
        }

        .icononline {

          padding: 0 0 0 20px;
        }
      }

    }
  }

  &__tours {

    padding: 0 0 4rem;
    width: 35%;

    @media only screen and (max-width: 1366px) {

      padding: 0 0 3rem 5rem;
    }

    @media only screen and (max-width: 1024px) {

      padding: 0 0 3rem 0;
    }

    &--withtours {

      padding: 0 0 4rem;
      width: 60%;

      @media only screen and (max-width: 1366px) {

        padding: 0 0 4rem 5rem;
      }

      @media only screen and (max-width: 1024px) {

        padding: 0 0 3rem 0;
      }

      @media only screen and (max-width: 768px) {

        padding: 0 0 5rem 0;
      }

      @media only screen and (max-width: 480px) {

        width: 100%;
      }
    }
  }
}
